* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  padding: 2.5rem;
  display: flex;
  gap: 1rem;
}
main .left, 
main .right {
  flex-basis: 50%;
  transition: 0.5s;

}
main .left:hover, main .right:hover {
  box-shadow: -2px 2px 5px 2px rgb(64, 64, 64);
}

main .left {
  background-color: #111;
  border-radius: 3.125rem;
  border: solid;
  border-color: black;
  position: relative;

  overflow-x: auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

}
main .left::-webkit-scrollbar:vertical {
  display: none;
}
main .left .code, .code pre, .code pre code {
  /* height: 100%;
  width: 100%; */
  margin: 0;
  border-radius: 3.125rem;
  background-color: #111;
  padding: 0.5rem;
}

main .right {
  background-color:#1a1a1a;
  border-radius: 3.125rem;
  border: solid;
  border-color: black;

  padding: 2rem;
  overflow-x: auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

main .left .review {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem ;
  border-radius: 3rem;
  cursor: pointer;
  user-select: none;

}


.editor-textarea {
  border-radius: 3.125rem; 
  outline: none; 
}

/* Remove focus styles when the editor is clicked */
.editor-textarea:focus {
  outline: none; 
  box-shadow: none; 
}

/* Style the container for consistency */
.code {
  border-radius: 3.125rem;
  /* overflow: hidden;  */
  font-size: 1.5rem;
}

main .right::-webkit-scrollbar:vertical {
  display: none;
}

main .left .review {
  z-index: 10; /* Optional: Ensure it floats above content */
}